*{
    margin: 0;
    padding: 0;
    color: var(--TextColor);
}
:root {
    --BackgroundColor:#F2F2F2;
    --TextColor: #139A43;
    --TextFont: "Jersey 10", sans-serif;
    }
.About > h2{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-family: var(--TextFont);
}
.Team > h2{
    display: flex;
    justify-content: center;
    font-family: var(--TextFont);
}
p{
    padding: 1rem;
}
img{
    width: 8rem;
    border-radius: 50%;
    height: 6rem;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
article{
    display: flex;
    padding-bottom: 2rem;
    align-items: center;
    border: solid;
    border-radius: 2rem;
}
article:nth-child(even){
    flex-direction: row-reverse;
}
a{
    justify-content: space-between;
}
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    font-family:"Jersey 10";
    color: #139A43;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;

}
footer > a{
    text-decoration: none;
}

