*{
    margin: 0;
    padding: 0;
}
.About{
    display: flex;
    justify-content: center;
}
.Team{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
p{
    padding: 1rem;
}
img{
    width: 10rem;
    border-radius: 10rem;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
article{
    display: flex;
    padding-bottom: 2rem;
}
article:nth-child(even){
    flex-direction: row-reverse;
}

