* {
    padding: 0;
    margin: 0;
    position:relative;
    user-select: none;
}

:root {
    --BackgroundColor:#F2F2F2;
    --TextColor: #139A43;
    --TextFont: "Jersey 10", sans-serif;
    }



main {
    font-family: var(--TextFont);
    color: var(--TextColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

video {
    position:fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

section {
    background-color: var(--BackgroundColor);
    border-radius: 20px;
    margin: .5rem;
}

.score-box {
    text-align: center;
    padding: 2rem;
    grid-column: span 2;
    margin-top: 2rem;
}
.score-box > h2 {
    font-size: 3rem;
}

.clicker-box > button > img {
    width: 10rem;
    padding: 1rem;
}

.clicker-box > button:hover {
    width: 75%;
    opacity: 0.9;
    cursor: pointer;
}

.clicker-box > button > img:active {
    transform: scale(1.02);
}

.clicker-box {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    margin-top: 3rem;
}

.active-bonus > ul > li > img  {
    width: 6rem;
    border-radius: 20px;

}

.passive-bonus > ul > li > img {
    width: 5rem;
    gap : .5rem;
}


li {
    list-style-type: none;
}

.passive-bonus, .active-bonus {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 8rem;
    height: 15rem;
    overflow-y: scroll;
    scrollbar-color: var(--TextColor);
    scrollbar-width:thin;
}

.passive-bonus > p {
    text-align: center;
}


.passive-button, .active-button {
        font-family: var(--TextFont);
        color: var(--TextColor);
        font-size: large;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0; 
        transition: opacity 0.3s ease; 
    }

.visible {
        opacity: 1;
    }

header{
    background-color: var(--BackgroundColor);
    border-radius: 20px;
    margin-left:.5rem;
    margin-right:.5rem;
    margin-top: .5rem;
    gap: 5rem;
}

header > ul >li {
    list-style: none;
    }

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > ul > li > a {
    font-size: 1.5rem;
}


a{
    text-decoration: none;
    color: var(--TextColor);
    font-family: var(--TextFont);
    font-size: medium;
}
h1{
    color:var(--TextColor);
    font-family:var(--TextFont);
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
footer{
    background-color: var(--BackgroundColor);
    display: flex;
    justify-content: space-around;
    font-family:var(--TextFont);
    color: var(--TextColor);
    padding: 1rem;
    border-radius: 10px;
}
footer > a{
    display: flex;
    align-items: center;
}

button {
   border: none;
   background-color: var(--BackgroundColor);
   border-radius: 20px;
}


@media screen and (min-width: 768px) {
    a {
        font-size: larger;
    }
    h1{
        font-size: 3rem;
        display: flex;
        justify-content: center;
    
    }
 
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
    }
    
    .score-box {
        margin: 5rem .5rem 5rem .5rem;
        grid-area: 1 / 2 / 2 / 3;

    }

    .clicker-box {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        grid-row: span 2;
        grid-area: 2 / 1 / 4 / 2;
        margin-bottom: 10rem;
        width: 90%;
        margin-left: 3rem;
    }

    .clicker-box > button > img {
        width:90%;
    }

    .active-bonus {
        grid-area: 2 / 2 / 3 / 4;
        grid-column: span 2;
    }

    .passive-bonus {
        grid-area: 3 / 2 / 4 / 4;
    }


    .passive-bonus, .active-bonus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        grid-column: span 2;
        margin : 1rem 1rem 1rem 6rem;
        width:auto;
        height:fit-content;
    }

    .active-bonus > ul {
        display: flex;
        overflow-y: hidden;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 2rem;
    }

    .passive-bonus > ul {
        display: flex;
        overflow-y: hidden;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
    footer > a, footer > p {
        font-size: 1.5rem;
    }
} 


